html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Our styles */

.level-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    width: 800px;
    /*height: 500px;*/
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    z-index: -1;
}

.level-row {
    display: flex;
    flex-grow: 1;
}

.level-cell {
    flex-grow: 1;
    position: relative;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /*border: 1px solid black;*/
}

.level-cell--sized {
    position: relative;
    flex-grow: initial;
    border: 0;
}

/*.level-row:nth-of-type(odd) .level-cell:nth-of-type(even), .level-row:nth-of-type(even) .level-cell:nth-of-type(odd) {*/
/*    background: #ddd;*/
/*}*/

.level-cell__spacer {
    margin-top: 100%;
}

/* Level tokens:

    WALL: 1,
    PLAYER1: 2,
    FINISH1: 3,
    DEATH: 4,
    COLLAPSE: 5,
    BARRIER: 6,
    COIN: 7

 */

.level-token {
    position: absolute;
}

.level-token--WALL {
    width: 100%;
    /*height: 100%;*/
    left: 0;
    top: 0;
    z-index: 0;
    background: black;
}

.level-token--PLAYER1 {
    width: 80%;
    /*height: 80%;*/
    left: 10%;
    top: 10%;
    z-index: 1;
    background: rgb(0, 0, 255);
}

.level-token--FINISH1 {
    width: 100%;
    /*height: 100%;*/
    left: 0;
    top: 0;
    z-index: 0;
    background: rgb(0, 200, 0);
}

.level-token--DEATH {
    width: 100%;
    /*height: 100%;*/
    left: 0;
    top: 0;
    z-index: 0;
    background: rgb(255, 0, 0);
}

.level-token--COLLAPSE {
    width: 100%;
    /*height: 100%;*/
    left: 0;
    top: 0;
    z-index: 0;
    background: rgb(255, 165, 0);
}

.level-token--BARRIER {
    width: 80%;
    /*height: 80%;*/
    left: 10%;
    top: 10%;
    z-index: 1;
    background: rgb(100, 100, 100);
}

.level-token--COIN {
    width: 60%;
    /*height: 60%;*/
    left: 20%;
    top: 20%;
    z-index: 2;
    background: rgb(255, 230, 0);
}

/* Maze controls */

.maze-controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 2px #eee;
    background: #eeeeee;
}

.maze-controls__spacer {
    flex-grow: 1;
}

.maze-controls__group-nav {
    display: flex;
}

.maze-controls__group {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    color: white;
}

.maze-controls__group:hover {
    background: white !important;
    color: black;
}

.maze-controls__group:nth-child(1) {
    background: #007bff;
}

.maze-controls__group:nth-child(2) {
    background: #6610f2;
}

.maze-controls__group:nth-child(3) {
    background: #dc3545;
}

.maze-controls__group:nth-child(4) {
    background: #fd7e14;
}

.number-bubble {
    padding: 8px;
    border-radius: 12px;
    background: white;
    color: black;
    font-size: smaller;
}

.maze-controls__group .number-bubble {
    font-size: 12px;
    margin-left: 10px;
    padding: 3px 5px;
    display: block;
}

.maze-controls__help {
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    color: black;
    width: 30px;
    justify-content: center;
}

.maze-controls__group__help:hover {
    color: white;
    background: black;
}

/* modal */

.help-modal__wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.help-modal__inner {
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    width: 800px;
    height: 500px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    background: white;
    border-radius: 10px;
    z-index: 2;
}


.help-modal__content ul {
    list-style: none;
    line-height: 30px;
}

.help-modal__content .level-cell {
    display: inline-block;
    /*margin-bottom: 0px;*/
    margin: 0 5px;
    margin-bottom: -10px;
}

.help-modal__content .level-cell .level-token {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

.help-modal__close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
